<h3>Busqueda</h3>
<div class="list-group">
  <a
    [routerLink]="['/country']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    Por Pais
  </a>
  <a
    [routerLink]="['/region']"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
    >por Region</a
  >
  <a
    [routerLink]="['/capital']"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
    >por Capital</a
  >
</div>
