<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let title of titles">{{ title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        <img [src]="country.flag" [alt]="country.name" class="img-thumbnail" />
      </td>
      <td>
        {{ country.name }}
      </td>
      <td>
        {{ country.population | number }}
      </td>
      <td>
        <a [routerLink]="['/country', country.alpha2Code]">Ver...</a>
      </td>
    </tr>
  </tbody>
</table>
